@if (data$ | async; as data) {
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/auth/register">Need an account?</a>
        </p>

        @if (data.backendErrors ) {
        <app-backend-error-messages [backendErrors]="data.backendErrors" />
        }

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              formControlName="email"
              placeholder="Email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
          </fieldset>
          <button
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="data.isSubmitting"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

}
